{% extends 'tem/base.html' %}

{% block titulo %}
    <title>lista de álbumes</title>
{% endblock %}


{% block body %}
    <a href={% url 'crear_pelicula' %}>Agregar película</a>

    <ul>
        {% for pelicula in object_list %}
            <li>
                <p>{{pelicula.dir}} - {{pelicula.titulo}} ({{pelicula.anio}})</p>
                <p>
                    <a href={% url 'detalle_pelicula' pelicula.id %}>Ver</a>
                    <a href={% url 'eliminar_pelicula' pelicula.id %}>Eliminar</a>
                </p>
            </li>
        {% endfor %}
    </ul>


{% endblock %}