{% extends 'tem/base.html' %}

{% block titulo %}
    <title>lista de álbumes</title>
{% endblock %}


{% block body %}
    <div class='media'><img src='{{album.portada.url}}' style='width:100%'></div>
    <p>Título: {{album.titulo}}</p>
    <p>Artista: {{album.autor}}</p>
    <p>Año de publicación: {{album.anio}}</p>
    <p>Género: {{album.genero}}</p>
    <br>
    <p>Reseña: {{album.review|safe}}</p>
    <ul>
        <li style='display:inline-block'><a href={% url 'lista_album' %}>Regresar a la lista</a></li>
        <li style='display:inline-block'><a href={% url 'editar_album' album.id %}>Editar post</a></li>
    </ul>


{% endblock %}