{% extends 'tem/base.html' %}

{% block titulo %}
    <title>lista de álbumes</title>
{% endblock %}


{% block body %}
    {% for message in messages %}
        <h3>{{message}}</h3>
    {% endfor %}

    <br>
    <a href={% url 'crear_album' %}>Agregar álbum</a>
    <a href={% url 'lista' %}>Regresar a las tecas</a>
    <a href={% url 'buscar_album' %}>Buscar Álbum</a>
    
    <ul>
        {% for album in object_list %}
            <li>
                <p>{{album.autor}} - {{album.titulo}} ({{album.anio}})</p>
                <p>
                    <a href={% url 'detalle_album' album.id %}>Ver</a>
                    <a href={% url 'eliminar_album' album.id %}>Eliminar</a>
                </p>
            </li>
        {% empty %}
            <li><h3>Aún no hay álbumes registrados</h3></li>
        {% endfor %}
    </ul>

    


{% endblock %}