{% extends 'tem/base.html' %}

{% block titulo %}
    <title>lista de álbumes</title>
{% endblock %}


{% block body %}
    <br>
    <a href={% url 'lista_libro' %}>Regresar a la lista</a>

    <form action={% url 'buscar_libro' %} method='GET'> {% csrf_token %}
      <p>Título: 
        <input type='text' name='titulo' id='titulo'>
      </p>
        <input class="button" type='submit' value="Buscar por título"> 
    </form>
    
    {% if libros %}
      {% for libro in libros %}
        <p>{{libro.autor}} - {{libro.titulo}} ({{libro.anio}}) <a href={% url 'detalle_libro' libro.id %}>Ver</a></p> 
      {% endfor %}
    {% else %}
      <p>{{respuesta}}</p>
    {% endif %}


{% endblock %}