{% extends 'tem/base.html' %}

{% block titulo %}
    <title>lista de álbumes</title>
{% endblock %}


{% block body %}
    <div class='media'><img src='{{libro.portada.url}}' style='width:100%'></div>
    <div style='display=inline-block'>
        <p>Título: {{libro.titulo}}</p>
        <p>Artista: {{libro.autor}}</p>
        <p>País de procedencia: {{libro.pais}}</p>
        <p>Año de publicación: {{libro.anio}}</p>
        <br>
    <p>Reseña: {{libro.review|safe}}</p>
    <ul>
        <li style='display:inline-block'><a href={% url 'lista_libro' %}>Regresar a la lista</a></li>
        <li style='display:inline-block'><a href={% url 'editar_libro' libro.id %}>Editar post</a></li>
    </ul>
    </div>


{% endblock %}